{{template "base" .}}

{{define "title"}}Home{{end}}

{{define "content"}}
<div class="page-header">
  <div class="row align-items-center">
    <div class="col">
      <div class="page-pretitle">Overview</div>
      <h2 class="page-title">Dashboard</h2>
    </div>
  </div>
</div>

<div class="row row-deck row-cards mt-2">
    <div class="col-4">
        <div class="card">
            <div class="card-body" style="height: 10rem"></div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body" style="height: 10rem"></div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body" style="height: 10rem"></div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body" style="height: 10rem"></div>
        </div>
    </div>
</div>
{{end}}
