openapi: 3.0.0
info:
    version: "2.1"
    description: rFMS standard version 2.1, for retrieval of vehicle information, position and vehicle status
    title: rFMS specification v2.1
security:
    - basicAuth: []
servers:
    - url: https://api.volvotrucks.com
components:
    schemas:
        AccumulatedType:
            type: object
            properties:
                AccelerationClass:
                    $ref: "#/components/schemas/FromToClassesType"
                AccelerationDuringBrakeClass:
                    $ref: "#/components/schemas/FromToClassesType"
                AccelerationPedalPositionClass:
                    $ref: "#/components/schemas/FromToClassesType"
                BrakePedalCounterSpeedOverZero:
                    type: integer
                    format: int64
                    description: ""
                    example: 4
                ChairliftCounter:
                    type: integer
                    format: int64
                    description: ""
                    example: 0
                CurrentGearClass:
                    $ref: "#/components/schemas/LabelClassesType"
                DistanceBrakePedalActiveSpeedOverZero:
                    type: integer
                    format: int64
                    description: ""
                    example: 270
                DistanceCruiseControlActive:
                    type: integer
                    format: int64
                    description: ""
                    example: 7330
                DrivingWithoutTorqueClass:
                    $ref: "#/components/schemas/LabelClassesType"
                DurationCruiseControlActive:
                    type: integer
                    format: int64
                    description: ""
                    example: 690
                DurationWheelbaseSpeedOverZero:
                    type: integer
                    format: int64
                    description: ""
                    example: 1320
                DurationWheelbaseSpeedZero:
                    type: integer
                    format: int64
                    description: ""
                    example: 240
                EngineSpeedClass:
                    $ref: "#/components/schemas/FromToClassesType"
                EngineTorqueAtCurrentSpeedClass:
                    $ref: "#/components/schemas/FromToClassesType"
                EngineTorqueClass:
                    $ref: "#/components/schemas/FromToClassesType"
                FuelConsumptionCruiseControlActive:
                    type: integer
                    format: int64
                    description: ""
                    example: 2743
                FuelWheelbaseSpeedOverZero:
                    type: integer
                    format: int64
                    description: ""
                    example: 4330
                FuelWheelbaseSpeedZero:
                    type: integer
                    format: int64
                    description: ""
                    example: 350
                HighAccelerationClass:
                    $ref: "#/components/schemas/FromToClassesType"
                KneelingCounter:
                    type: integer
                    format: int64
                    description: ""
                    example: 0
                PramRequestCounter:
                    type: integer
                    format: int64
                    description: ""
                    example: 0
                PtoActiveClass:
                    $ref: "#/components/schemas/LabelClassesType"
                RetarderTorqueClass:
                    $ref: "#/components/schemas/FromToClassesType"
                SelectedGearClass:
                    $ref: "#/components/schemas/LabelClassesType"
                StopRequestCounter:
                    type: integer
                    format: int64
                    description: ""
                    example: 0
                VehicleSpeedClass:
                    $ref: "#/components/schemas/FromToClassesType"
        AlternatorInfoType:
            type: object
            properties:
                AlternatorNumber:
                    type: integer
                    format: int64
                    description: ""
                    example: 0
                AlternatorStatus:
                    type: string
                    description: ""
                    enum:
                        - NOT_CHARGING
                        - CHARGING
                        - ERROR
                        - NOT_AVAILABLE
                    example: NOT_CHARGING
        DoorStatusType:
            type: object
            properties:
                DoorEnabledStatus:
                    type: string
                    description: ""
                    enum:
                        - ENABLED
                        - DISABLED
                        - ERROR
                        - NOT_AVAILABLE
                    example: DISABLED
                DoorLockStatus:
                    type: string
                    description: ""
                    enum:
                        - UNLOCKED
                        - LOCKED
                        - ERROR
                        - NOT_AVAILABLE
                    example: NOT_AVAILABLE
                DoorNumber:
                    type: integer
                    format: int64
                    description: ""
                    example: 0
                DoorOpenStatus:
                    type: string
                    description: ""
                    enum:
                        - CLOSED
                        - OPEN
                        - ERROR
                        - NOT_AVAILABLE
                    example: NOT_AVAILABLE
        DriverIdType:
            type: object
            properties:
                OemDriverIdentification:
                    $ref: "#/components/schemas/OemDriverIdentificationType"
                TachoDriverIdentification:
                    $ref: "#/components/schemas/TachoDriverIdentificationType"
        FromToClassType:
            type: object
            properties:
                From:
                    type: number
                    format: double
                    description: ""
                    example: 1
                Meters:
                    type: integer
                    format: int64
                    description: ""
                    example: 320
                MilliLitres:
                    type: integer
                    format: int64
                    description: ""
                    example: 230
                Seconds:
                    type: integer
                    format: int64
                    description: ""
                    example: 340
                To:
                    type: number
                    format: double
                    description: ""
                    example: 3
        FromToClassesType:
            type: object
            properties:
                Value:
                    type: array
                    description: ""
                    items:
                        $ref: "#/components/schemas/FromToClassType"
                    x-go-type-skip-optional-pointer: true
        GNSSPositionType:
            type: object
            properties:
                Altitude:
                    type: integer
                    format: int64
                    description: ""
                    example: 62
                Heading:
                    type: integer
                    format: int32
                    description: ""
                    example: 120
                Latitude:
                    type: number
                    format: double
                    description: ""
                    example: 57.823997
                Longitude:
                    type: number
                    format: double
                    description: ""
                    example: 11.989384
                PositionDateTime:
                    type: string
                    format: date-time
                    description: ""
                    example: 2018-03-26T13:50:16.000Z
                Speed:
                    type: number
                    format: double
                    description: ""
                    example: 90
        LabelClassType:
            type: object
            properties:
                Label:
                    type: string
                    description: ""
                    example: Label1
                Meters:
                    type: integer
                    format: int64
                    description: ""
                    example: 310
                MilliLitres:
                    type: integer
                    format: int64
                    description: ""
                    example: 302
                Seconds:
                    type: integer
                    format: int64
                    description: ""
                    example: 93
        LabelClassesType:
            type: object
            properties:
                Value:
                    type: array
                    description: ""
                    items:
                        $ref: "#/components/schemas/LabelClassType"
                    x-go-type-skip-optional-pointer: true
        OemDriverIdentificationType:
            type: object
            properties:
                IdType:
                    type: string
                    description: ""
                    example: pin
                OemDriverIdentification:
                    type: string
                    description: ""
                    example: Driver1
        ProductionDateType:
            type: object
            properties:
                Day:
                    type: integer
                    format: int32
                    description: ""
                    example: 23
                Month:
                    type: integer
                    format: int32
                    description: ""
                    example: 3
                Year:
                    type: integer
                    format: int32
                    description: ""
                    example: 2017
        SnapshotType:
            type: object
            properties:
                AmbientAirTemperature:
                    type: number
                    format: double
                    description: ""
                    example: 21.5
                CatalystFuelLevel:
                    type: number
                    format: double
                    description: ""
                    example: 45.3
                Driver1WorkingState:
                    type: string
                    description: ""
                    enum:
                        - REST
                        - DRIVER_AVAILABLE
                        - WORK
                        - DRIVE
                        - ERROR
                        - NOT_AVAILABLE
                    example: DRIVE
                Driver2Id:
                    $ref: "#/components/schemas/DriverIdType"
                Driver2WorkingState:
                    type: string
                    description: ""
                    enum:
                        - REST
                        - DRIVER_AVAILABLE
                        - WORK
                        - DRIVE
                        - ERROR
                        - NOT_AVAILABLE
                    example: REST
                EngineSpeed:
                    type: number
                    format: double
                    description: ""
                    example: 3100
                FuelLevel1:
                    type: number
                    format: double
                    description: ""
                    example: 23.6
                GNSSPosition:
                    $ref: "#/components/schemas/GNSSPositionType"
                TachographSpeed:
                    type: number
                    format: double
                    description: ""
                    example: 90
                WheelBasedSpeed:
                    type: number
                    format: double
                    description: ""
                    example: 90
        TachoDriverIdentificationType:
            type: object
            properties:
                CardIssuingMemberState:
                    type: string
                    description: ""
                    example: UK
                CardRenewalIndex:
                    type: string
                    description: ""
                    example: 0
                CardReplacementIndex:
                    type: string
                    description: ""
                    example: 0
                DriverAuthenticationEquipment:
                    type: string
                    description: ""
                    enum:
                        - RESERVED
                        - DRIVER_CARD
                        - CONTROL_CARD
                        - COMPANY_CARD
                        - MANUFACTURING_CARD
                        - VEHICLE_UNIT
                        - MOTION_SENSOR
                    example: DRIVER_CARD
                DriverIdentification:
                    type: string
                    description: ""
                    example: DB051241420307
        TellTaleInfoType:
            type: object
            properties:
                State:
                    type: string
                    description: ""
                    enum:
                        - RED
                        - YELLOW
                        - INFO
                        - OFF
                        - RESERVED_4
                        - RESERVED_5
                        - RESERVED_6
                        - NOT_AVAILABLE
                    example: RED
                TellTale:
                    type: string
                    description: ""
                    enum:
                        - COOLING_AIR_CONDITIONING
                        - HIGH_BEAM_MAIN_BEAM
                        - LOW_BEAM_DIPPED_BEAM
                        - TURN_SIGNALS
                        - HAZARD_WARNING
                        - PROVISIONING_HANDICAPPED_PERSON
                        - PARKING_BRAKE
                        - BRAKE_MALFUNCTION
                        - HATCH_OPEN
                        - FUEL_LEVEL
                        - ENGINE_COOLANT_TEMPERATURE
                        - BATTERY_CHARGING_CONDITION
                        - ENGINE_OIL
                        - POSITION_LIGHTS
                        - FRONT_FOG_LIGHT
                        - REAR_FOG_LIGHT
                        - PARKING_HEATER
                        - ENGINE_MIL_INDICATOR
                        - SERVICE_CALL_FOR_MAINTENANCE
                        - TRANSMISSION_FLUID_TEMPERATURE
                        - TRANSMISSION_MALFUNCTION
                        - ANTI_LOCK_BRAKE_FAILURE
                        - WORN_BRAKE_LININGS
                        - WINDSCREEN_WASHER_FLUID
                        - TIRE_MALFUNCTION
                        - GENERAL_FAILURE
                        - ENGINE_OIL_TEMPERATURE
                        - ENGINE_OIL_LEVEL
                        - ENGINE_COOLANT_LEVEL
                        - STEERING_FLUID_LEVEL
                        - STEERING_FAILURE
                        - HEIGHT_CONTROL
                        - RETARDER
                        - ENGINE_EMISSION_FAILURE
                        - ESC_INDICATOR
                        - BRAKE_LIGHTS
                        - ARTICULATION
                        - STOP_REQUEST
                        - PRAM_REQUEST
                        - BUS_STOP_BRAKE
                        - ADBLUE_LEVEL
                        - RAISING
                        - LOWERING
                        - KNEELING
                        - ENGINE_COMPARTMENT_TEMPERATURE
                        - AUXILLARY_AIR_PRESSURE
                        - AIR_FILTER_CLOGGED
                        - FUEL_FILTER_DIFF_PRESSURE
                        - SEAT_BELT
                        - EBS
                        - LANE_DEPARTURE_INDICATOR
                        - ADVANCED_EMERGENCY_BREAKING
                        - ACC
                        - TRAILER_CONNECTED
                        - ABS_TRAILER
                        - AIRBAG
                        - EBS_TRAILER_1_2
                        - TACHOGRAPH_INDICATOR
                        - ESC_SWITCHED_OFF
                        - LANE_DEPARTURE_WARNING_SWITCHED_OFF
                        - OEM_SPECIFIC_TELL_TALE
                    example: ENGINE_OIL_LEVEL
        TriggerType:
            type: object
            properties:
                Context:
                    type: string
                    description: ""
                    example: RFMS
                DriverId:
                    $ref: "#/components/schemas/DriverIdType"
                PtoId:
                    type: string
                    description: ""
                    example: pto1
                TellTaleInfo:
                    type: array
                    description: ""
                    items:
                        $ref: "#/components/schemas/TellTaleInfoType"
                    x-go-type-skip-optional-pointer: true
                TriggerInfo:
                    type: array
                    description: ""
                    items:
                        type: string
                        example: InfoString
                    x-go-type-skip-optional-pointer: true
                TriggerType:
                    type: string
                    description: ""
                    example: TIMER
        UptimeType:
            type: object
            properties:
                AlternatorInfo:
                    type: array
                    description: ""
                    items:
                        $ref: "#/components/schemas/AlternatorInfoType"
                    x-go-type-skip-optional-pointer: true
                BellowPressureFrontAxleLeft:
                    type: integer
                    format: int64
                    description: ""
                    example: 12
                BellowPressureFrontAxleRight:
                    type: integer
                    format: int64
                    description: ""
                    example: 12
                BellowPressureRearAxleLeft:
                    type: integer
                    format: int64
                    description: ""
                    example: 12
                BellowPressureRearAxleRight:
                    type: integer
                    format: int64
                    description: ""
                    example: 12
                DurationAtLeastOneDoorOpen:
                    type: integer
                    format: int64
                    description: ""
                    example: 12
                EngineCoolantTemperature:
                    type: number
                    format: double
                    description: ""
                    example: 52.8
                ServiceBrakeAirPressureCircuit1:
                    type: integer
                    format: int64
                    description: ""
                    example: 230
                ServiceBrakeAirPressureCircuit2:
                    type: integer
                    format: int64
                    description: ""
                    example: 0
                ServiceDistance:
                    type: integer
                    format: int64
                    description: ""
                    example: 2351
                TellTaleInfo:
                    type: array
                    description: ""
                    items:
                        $ref: "#/components/schemas/TellTaleInfoType"
                    x-go-type-skip-optional-pointer: true
        VehiclePositionType:
            type: object
            properties:
                CreatedDateTime:
                    type: string
                    format: date-time
                    description: ""
                    example: 2018-03-26T13:50:15.000Z
                GNSSPosition:
                    $ref: "#/components/schemas/GNSSPositionType"
                ReceivedDateTime:
                    type: string
                    format: date-time
                    description: ""
                    example: 2018-03-26T13:50:17.424Z
                TachographSpeed:
                    type: number
                    format: double
                    description: ""
                    example: 52.4
                TriggerType:
                    $ref: "#/components/schemas/TriggerType"
                VIN:
                    type: string
                    description: ""
                    example: Z00SC0000HQ000126
                WheelBasedSpeed:
                    type: number
                    format: double
                    description: ""
                    example: 52.4
        VehiclePositions:
            type: object
            properties:
                MoreDataAvailable:
                    type: boolean
                    description: ""
                    example: false
                RequestServerDateTime:
                    type: string
                    format: date-time
                    description: ""
                    example: 2018-03-26T13:51:00.000Z
                VehiclePosition:
                    type: array
                    description: ""
                    items:
                        $ref: "#/components/schemas/VehiclePositionType"
                    x-go-type-skip-optional-pointer: true
        VehicleStatusType:
            type: object
            properties:
                AccumulatedData:
                    $ref: "#/components/schemas/AccumulatedType"
                CreatedDateTime:
                    type: string
                    format: date-time
                    description: ""
                    example: 2018-03-26T13:50:15.000Z
                DoorStatus:
                    type: array
                    description: ""
                    items:
                        $ref: "#/components/schemas/DoorStatusType"
                    x-go-type-skip-optional-pointer: true
                Driver1Id:
                    $ref: "#/components/schemas/DriverIdType"
                EngineTotalFuelUsed:
                    type: integer
                    format: int64
                    description: ""
                    example: 34251
                GrossCombinationVehicleWeight:
                    type: integer
                    description: ""
                    example: 10000
                    format: int32
                HRTotalVehicleDistance:
                    type: integer
                    format: int64
                    description: ""
                    example: 30415950
                ReceivedDateTime:
                    type: string
                    format: date-time
                    description: ""
                    example: 2018-03-26T13:50:17.424Z
                SnapshotData:
                    $ref: "#/components/schemas/SnapshotType"
                Status2OfDoors:
                    type: string
                    description: ""
                    enum:
                        - ALL_DOORS_DISABLED
                        - AT_LEAST_ONE_DOOR_ENABLED
                        - ERROR
                        - NOT_AVAILABLE
                    example: ALL_DOORS_DISABLED
                TotalEngineHours:
                    type: number
                    format: double
                    description: ""
                    example: 681.2
                TriggerType:
                    $ref: "#/components/schemas/TriggerType"
                UptimeData:
                    $ref: "#/components/schemas/UptimeType"
                Vin:
                    type: string
                    description: ""
                    example: Z00SC0000HQ000126
        VehicleStatuses:
            type: object
            properties:
                MoreDataAvailable:
                    type: boolean
                    description: ""
                    example: false
                RequestServerDateTime:
                    type: string
                    format: date-time
                    description: ""
                    example: 2018-03-26T13:51:00.000Z
                VehicleStatus:
                    type: array
                    description: ""
                    items:
                        $ref: "#/components/schemas/VehicleStatusType"
                    x-go-type-skip-optional-pointer: true
        VehicleType:
            type: object
            properties:
                BodyType:
                    type: string
                    description: ""
                    example: COACH
                Brand:
                    type: string
                    description: ""
                    example: VOLVO TRUCKS
                ChassisType:
                    type: string
                    description: ""
                    example: Self Support
                CustomerVehicleName:
                    type: string
                    description: ""
                    example: B32D8723XE3
                DoorConfiguration:
                    type: array
                    description: ""
                    items:
                        type: integer
                        format: int32
                        example: 2
                    x-go-type-skip-optional-pointer: true
                EmissionLevel:
                    type: string
                    description: ""
                    example: EURO_VI
                GearboxType:
                    type: string
                    description: ""
                    example: AUTOMATIC
                HasRampOrLift:
                    type: boolean
                    description: ""
                    example: false
                Model:
                    type: string
                    description: ""
                    example: FH16
                NoOfAxles:
                    type: integer
                    format: int32
                    description: ""
                    example: 3
                PossibleFuelType:
                    type: array
                    description: ""
                    items:
                        type: string
                        example: 1A
                    x-go-type-skip-optional-pointer: true
                ProductionDate:
                    $ref: "#/components/schemas/ProductionDateType"
                TachographType:
                    type: string
                    description: ""
                    example: TSU
                TellTaleCode:
                    type: string
                    description: ""
                    example: N
                TotalFuelTankVolume:
                    type: integer
                    format: int64
                    description: ""
                    example: 230000
                Type:
                    type: string
                    description: ""
                    example: TRUCK
                VIN:
                    type: string
                    description: ""
                    example: Z00SC0000HQ000126
        Vehicles:
            type: object
            properties:
                MoreDataAvailable:
                    type: boolean
                    description: ""
                    example: false
                Vehicle:
                    type: array
                    description: ""
                    items:
                        $ref: "#/components/schemas/VehicleType"
                    x-go-type-skip-optional-pointer: true
